//$body-bg: #282e49;
$body-bg: linear-gradient(to right, #282e49, #1b202f);
$body-hr: #4c5369;
$body-bg-non-gradient: #1b202f;
$theme: #6150a9;
$themeDark: #5e00ff;
$lightTheme: #596dbb;
$lightBlue: #737af1;
$white: #dcdcdc;
$grey: #cccaca;
$green: #19b275;
$greenLight: #39a4a1;
$pink: #a65dad;
$pinkDark: #811b8c;
$gradient:linear-gradient(to right, $lightTheme, $theme);
$gradientLight:linear-gradient(to right, #ffffff, #dde4f6, #d4c3ff);
$gradientFooter:linear-gradient(to bottom, $body-bg-non-gradient, #303050);
$gradientWhite:linear-gradient(to bottom, #ffffff, #dde4f6, #cccccc);
$gradientLightReverse:linear-gradient(to left, #ffffff, #dde4f6, #d4c3ff);
$gradientLightTheme:linear-gradient(to right, #ffffff, #ffffff, #dee4ff);
$gradientDarkTheme:linear-gradient(to right,#4b689d, #4d5b88, #574486);

$bp-tablet: 768px;
$bp-mobile: 426px;
$bp-laptop: 1281px;
$bp-mediumDesktop: 1921px;
$bp-largeDesktop: 3841px;
