@import "variables";
@import "mixin";

.blogContainer {
    @include container();

    h1 {
        @include centerHeader();
    }

    .flexBlogPage {
        padding: 2rem;
        display: flex;
        justify-content: flex-start;
        @media screen and (max-width: $bp-tablet) {
            flex-direction: column;
            padding:20px 0 0 0;
        }
        .blogs {
            @include blogs($body-bg-non-gradient, true, $body-bg)
        }

        .blogsLight{
            @include blogs(white,false,$gradientWhite)
        }

        .mostRead {
            flex: .4;

            h2{
                font-size: 1.2rem;
                font-weight: 700;
            }
        }
    }


}
