@import "variables";
@import "mixin";

.modal {
    background-color: rgba(7, 7, 7, 0.5); /* Black w/ opacity */
    @include centerItems();
    width: 100%;
    height: 100%;
    z-index: 4;
}

.modal-content {
    width: 60%;
    height: 80%;
    border-radius: 5px;
    margin: 7% auto;
    @media screen and (max-width: $bp-tablet) {
        width: 90%;
        margin: 20% auto;
    }
    //margin: auto;
    overflow: hidden;
    position: relative;

    .darkPortfolio {
        @include portfolioModal($body-bg);
    }

    .lightPortfolio {
        @include portfolioModal($white);
    }
}

