@import "variables";
@import "mixin";

.darkNavBar {
    background-image: $gradientDarkTheme;
}

.navBar {
    background-color: $white;
}
.drawerNav{
    background-color: white;
}

.title {
    @include flexCenter();
    //color: white;
    font-weight: 700;
    font-size: .95rem;
}

.drawer{
    z-index: 100;
    @media screen and (max-width: $bp-laptop) {
        left: 0;
    }
    background-color: white;
    position: absolute;
    min-width: 21vw;
    height: 100vh;
    box-shadow: 2px 2px 2px 2px $white;
    left: -2.6vw;
    padding: 1% 1% 1% 1%;
    hr{
        border:1px solid $grey;
    }
    .drawer-items{
        padding-left: 2.6vw;
        h1{
            font-size: 1rem;
            text-transform: uppercase;
            padding: .7rem 0 .8rem 0 ;
        }
    }
}


