@import "variables";
@import "mixin";

.darkNavBar {
    background-image: $gradientDarkTheme;
}

.navBar {
    background-color: $white;
}

.title {
    @include flexCenter();
    //color: white;
    font-weight: 700;
    font-size: .95rem;
}


